@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    border: 0;
    background-color: #000000;
    color: #FFFFFF;
}

.header{
    text-align: center;
    font: normal normal medium 50px/59px Raleway;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    letter-spacing: 0px;
    opacity: 1;
}

.imagen-flex1{
    top: 73px;
    left: 0px;
    width: 1365px;
    height: 727px;
    background: transparent url('img/photo-1516008805996-d2abb468cc9a.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.description{
        display: flex;
        gap: 150px;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 80px;
        justify-content: center;
        align-items: center;
        height: 350px;
        opacity: 1;
}

.texto{
    top: 876px;
    left: 150px;
    width: 475px;
    height: 197px;
    font: normal normal 300 16px/19px Raleway;
    letter-spacing: 0px;
    width: 480px;
    opacity: 1;
}

.imagen-flex2{
    top: 845px;
    left: 731px;
    width: 399px;
    height: 237px;
    background: transparent url('img/photo-1492963892107-740cd39d9ff3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.container1 {
    width: 1365px;
    height: 400;
    text-align: center;
    font: normal normal medium 40px/47px Raleway;
    letter-spacing: 0px;
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.98;
    border: 2px solid #1E1A13;
}

.main2{
        display: flex;
        gap: 80px;
        flex-wrap: wrap;
        text-align:center;
        justify-content: center;
        align-items: center;
        background: #1E1A13 0% 0% no-repeat padding-box;
        top: 1141px;
        left: 0px;
        width: 1365px;
        height: 200px;
        opacity: 0.98;
}

.ojo{

        font: normal normal 300 15px/20px Raleway;
        opacity: 1;
        background: #1E1A13 0% 0% no-repeat padding-box;
}
.peace{

        font: normal normal 300 15px/20px Raleway;
        opacity: 1;
        background: #1E1A13 0% 0% no-repeat padding-box;
}
.color{

        font: normal normal 300 15px/20px Raleway;
        opacity: 1;
        background: #1E1A13 0% 0% no-repeat padding-box;
}


.container2{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 1488px;
        width: 1280px;
        height: 260px;
        background: #000000 0% 0% no-repeat padding-box;
        opacity: 0.96;
}
.imagen-flex3{
        top: 1561px;
        left: 150px;
        width: 316px;
        height: 202px;
        opacity: 1;
        background: transparent url('img/photo-1511762018950-7ba39019ae85.png') 0% 0% no-repeat padding-box;
}

.footer{
        justify-content: center;
        top: 1835px;
        left: 0px;
        width: 1280px;
        height: 102px;
        opacity: 0.94;
}

.textfooter{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    align-items: center;
    top: 1874px;
    left: 299px;
    width: 1365px;
    height: 102px;
    font: normal normal 300 15px/20px Raleway;
    letter-spacing: 0px;
     background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 1;
}

